nav{
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: rgb(249, 160, 36);
    padding: 20px 20px;
   border: 2px solid rgb(5, 154, 62);
   box-shadow: 0 2px 8px rgb(221, 138, 138);
   border-radius: 10px;
}
.we{
    background: linear-gradient(to right,blue,purple);
}

nav .active{
    background-color: rgb(220, 186, 12);
}
.bigadd h2{
    color: white;
}
.more{
background-color: rgb(221, 174, 20);
}
a{
    color: black;
    text-decoration: none;
}
body{
    background-color: rgb(250, 203, 131); 
}
.fiee{
    background-color:  bisque;
}
form{
    text-align: center;
    /* width: 100%; */

}

/* form input{
    width: 20px;
    padding-top: 10px;
} */
form label{
    /* line-height: 5px; */
}
.on{
    width: 100px;
}
.bigfoot{
   display: flex;
   gap: 25px;
   background-color: rgb(236, 161, 40);
}
.abby{
background-image: url(../images/blur.jpg);
}
/* .bighello{
    display: flex;
}
.hello{
    width: 30%;
    height: 200px;
}
.hello img{
    width: 100%;
    height: 200px;
}
.bigtext{
    display: flex;
    gap: 40px; */

/* } */
.text{
    width: 80%;
    text-align: center;
    margin-left: 80px;
    line-height: 40px;

}
.texts{
    /* width: 50%;
    margin-top: 50px; */
    text-align: center;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.last{
    display: flex;
    gap: 50px;
}
.bl img{
    width: 100%;
}
.bl{
    width: 45%;


}
.lastimg{
    width: 45%;
}
.lastimg img{
    width: 100%;
}
.log{
    background: linear-gradient(to right,blue,purple);
    height: 500px;
    padding-bottom: 50px;
}
.handle{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.logform input{
    width: 250px;
    /* padding: 10px; */
}
/* .logform{
    width: 30px;
    height: 40px;
} */
 
 .label1{
    /* padding: 20px; */
    font-size: large;
    margin: 5px;
   
 }
 .abb{
    background: linear-gradient(to right,blue,purple);
 }
 .forget{
    text-align: center;
    margin-top: 20px;
    line-height: 30px;
 }
 /* .abtimg{
    width: 100%;
    height: 300px;
 } */
a:hover{
    color: white;
}
 .abtimg{
    background-image: url('../images/abt1.jpg');
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    width: 100%;
    height: 300px;
 }
 .mainabt{
    color: azure;
    text-align: center;
 }
.subabt{
    flex-wrap: wrap;
    display: flex;
    line-height: 20px;
    width: 40%;
    background-color: bisque;
    padding: 10px 10px;
}
 .mini{
    margin-left: 50px;

}
 .bigabt{
    display: flex;
    gap: 10px;

 }
 .media{
    /* background-color: aquamarine; */
    /* display: flex;
    flex-wrap: wrap; */
    justify-self: center;
    justify-content: space-around;

 }
 .label2{
    width: 80px;
    height: 50px;
    margin-top: 10px;
 }
.bigadd{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    
}
/* .abby{
    background-image: url(../images/gall4.jpg); */
/* } */

.imgcon{
    height: 400px;
    width: 700px;
}
h1{
    text-align: center;
}
.myform{
    border: 2px solid rgb(101, 71, 71);
    border-radius: 20px;
    width: 40%;
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin-left: 30%;
    background: linear-gradient(to right,rgb(0, 149, 255),rgb(19, 47, 207));
    /* background-image: url(../images/blur.jpg); */
    line-height: 20px;
}
.myform input{
    width: 250px;
}
.icons{
    
    justify-content: space-evenly;
    gap: 20px   ;
}
.em{
    line-height: 1 0px;
}
.sign{
    /* background-color: blueviolet; */
    /* width: 50%; */
    display: flex;
    justify-content: center;
}
.sign input{
    width: 400px;
    height: 25px;
    /* line-height: 70px; */
}
.sign label{
    line-height: 30px;
}
.up{
    background-image: url(../images/ft1.jpg);
}
.gal{
    width: 100%;
    display: flex;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.event{
    background-color: rgb(245, 229, 86);
    text-align: center;
}
/* .gal2{
    width: 100%;
    display: flex;
    gap: 30px; */

/* }
.sgal2{
    width: 30%;
} */
    .sgal{
        width: 30%;

        
    }
    /* .sgal2 image{
        width: 100%;
    } */
 .sgal img{
    width: 100%;
    height: 300px;
    
 }
 .footer{
    width: auto;
    margin: 20px;

 }
 .link{
    width: 30%;

 }
 .office{
    width: 30%;
 }
 .handles{
    width: 30%;
 }
.fa-facebook{
    color: blue;
}
.fa-linkedin{
    color: rgb(29, 29, 69);
}
.fa-youtube{
    color: rgb(164, 22, 22);
}
.fa-x-twitter{
    color: rgb(53, 46, 37);
}
.fa-instagram{
    color: blueviolet;
}

.footer{
    
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 10px;

}
 /* .event{
    display: flex;
    justify-content: center;
 } */
  /* .alumni{ */
    /* display: flex;
    text-align: justify;
    justify-content: space-evenly;
    background-color: rgb(166, 174, 196);
    width: 300%;
  
  
  }
     */
   .big{
    display: flex;
    gap: 30px;
    width: 100%;
   }
   .you{
    width: 40%;
    height: 300px;
   }
   .you .img{
    width: 100%;
    height: 300px;
   }
  .alumni{
    justify-content: center;
  }
  button{
    background-color: burlywood;
    padding: 5px 10px;
    border-radius: 30%;
  }
 